<div class="page-content" id="contacts">
  <h1>{{text.title}}</h1>
  <h3>{{text.message}}<img src="assets/images/emoji-16.svg"></h3>
  <section class="mediaLinks">
    <ng-container *ngFor="let contact of contacts; index as i">
      <a [href]="contact.href" target="_blank">
        <img [src]="contact.colorIcon" class="contacts">
        <p>{{ contact.title }}</p>
      </a>
    </ng-container>
  </section>
  <section class="phoneAccess">
    <h4>{{text.access}}</h4>
    <input type="text" class="form-control" [(ngModel)]="check" name="check" (click)="hideNumber()">
    <button class="btn btn-outline-light" (click)="showNumber()">GO</button><br>
    <a href="tel:+380664527084" *ngIf="status">{{text.number}}</a>
    <h5 *ngIf="statusMes">{{text.attempt}}</h5>
  </section>
</div>
