<div class="page-content" id="skills">
  <h1>{{title[0]}}</h1>
  <section>
    <div class="skills-n">
      <button type="button" class="btn btn-outline-light skills-options" (click)="switch(true)">
        <h3>{{title[1]}}</h3>
      </button>
      <button type="button" class="btn btn-outline-light skills-options" (click)="switch(false)">
        <h3>{{title[2]}}</h3>
      </button>
    </div>
    <div class="skills">
      <div class="hard-skills" *ngIf="skillsStatus">
        <li *ngFor="let item of hard">
          <img [src]="item.img" [class]="item.class">
          <span>{{item.name}}</span>
        </li>
      </div>
      <div class="soft-skills" *ngIf="!skillsStatus">
        <li *ngFor="let item of soft; index as i">
          <h3>{{item}}</h3>
        </li>
      </div>
    </div>
  </section>
  <img [src]="skillsImg" class="skills-png">
</div>
