@import '../../shared/style/fonts.scss';

.page-content {
    width: 100%;
    background-color: rgb(131, 6, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
}

.skills-item {
    width: 60px;
    height: 60px;
}

.html-skill {
    width: 40px;
    height: 55px;
    margin-bottom: 8px;
}

.js-skill {
    width: 46px;
    height: 60px;
    margin-bottom: 8px;
}

h1 {
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 10px;
}

li {
    list-style-type: none;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-n {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.skills {
    width: 80%;
    border-radius: 3%;
    height: 100%;
    margin: auto;
}

.soft-skills {
    width: 40%;
    margin: auto;

    li {
        width: 100%;
        min-height: 70px;
        border-bottom: 1px solid beige;
        text-align: center;
        padding-top: 20px;
        color: beige;
    }
}

.hard-skills {
    width: 100%;
    font-size: 26px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 150px 150px 150px;
    text-align: center;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: beige;
    }

    img {
        margin: 0 auto;
    }
}

.skills-png {
    width: 27%;
}

.skills-options {
    padding-top: 15px;
}

@media (max-width: 830px) {
    .soft-skills {
        width: 50%;
    }

    .skills-options {
        width: 130px;
        height: 80px;
        font-size: 18px;
        padding-top: 10px;
    }

    .skills-n {
        width: 100%;
        justify-content: space-around;
    }

    .skills-png {
        width: 35%;
    }
}

@media (max-width: 530px) {
    .soft-skills {
        width: 60%;
    }

    .skills-options {
        width: 100px;
        height: 80px;
        font-size: 14px;
    }

    .skills-png {
        width: 50%;
    }

    .skills {
        h3 {
            font-size: 20px;
        }
    
        span {
            font-size: 18px;
        }
    }
}

@media (max-width: 400px) {
    .soft-skills {
        width: 80%;
    }

    .skills-n {
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 300px) {

    .hard-skills {
        span {
            display: none;
        }
    }
    .skills-n {
        width: 100%;
        justify-content: space-around;
    }
}