@import '../../shared/style/fonts.scss';

.page-content {
    width: 100%;
    background-color: beige;
    color: rgb(131, 6, 6);
    text-align: center;
    padding: 50px 0;
    font-family: 'Poppins';
    font-weight: 400;
}

.firstProgect {
    img {
        width: 300px;
    }
}

.secondProgect {
    img {
        width: 240px;
    }
}

h1 {
    font-weight: 600;
    margin-bottom: 50px;
}

h2 {
    font-weight: 500;
    margin: 15px 0;
}

section {
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;

    div {
        width: 50%;
    }
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

button:hover {
    background-color: rgb(131, 6, 6);
    border-color: rgb(131, 6, 6);

    a {
        color: white;
    }
}

button {
    border-color: rgb(131, 6, 6);
    width: 100px;
    height: 40px;
    color: rgb(131, 6, 6);
}

img {
    margin-bottom: 10px;
    height: 110px;
    margin: auto;
}

@media (max-width: 800px) {

    .firstProgect {
        img {
            width: 200px;
        }

        margin-bottom: 30px;
    }

    .secondProgect {
        img {
            width: 180px;
        }
    }

    section {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        div {
            width: 100%;
        }
    }

    h1 {
        margin-bottom: 30px;
    }
}

@media (max-width: 300px) {
    .firstProgect {
        img {
            width: 150px;
            height: 110px;
        }
    }

    .secondProgect {
        img {
            width: 120px;
            height: 100px;
        }
    }
}